<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    
    <title>LoginForm</title>
    
    </style>
</head>
<body>
     <input id="email" type ="email" placeholder="Email"> <br>
     <input id="password" type="password" placeholder="Password"> <br>
     <button id="OnSubmit"  >Submit </button> <br>
     <button id="OnCancel" onclick="OnCancel()">Cancel </button>

    
</body>
<script src="../Kai_Js_LoginVarification/jquery-3.4.1.min.js"></script>
<script src="./login.js"></script>
<script src="./login_Varification.js"></script>
</html>